@charset "ISO-8859-1";

body{
	background-image:url("../uploads/images/www.PNG");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
}				   
            
            
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.menu {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.search_bar{
  float: right !important;
}

.search_bar img{
  height: 20px;
  
}

.search{
  display:none;
  position: absolute;
  right: 0px;
  height: 20%;
  z-index: 9;
}